:root {

    --subhead-color: #464646;
    --heading-font: 'Playfair Display', serif;
    --other-font: 'Open Sans', sans-serif;
    --background-color: #E5E1E1;
    --lighter-background: #F6F6F6;

}

a {
    text-decoration: none;
   color: black;
}


h1, h2, h3 {

    color: black;
    font-family: var(--heading-font);

}

body {
    font-family: var(--other-font);
}


.hero {

    padding: 90px;
    text-align: center;
    background-color: var(--background-color);
}

.hero h1 {
    font-size: 48px;

}

.hero h2 {
    color: var(--subhead-color);
    font-family: var(--other-font);
}

.hero h3 {
font-family: var(--other-font);
font-size: 16px;
color: var(--subhead-color);

}

.hero button {

    padding: 15px 45px;
    border: none;
    background-color: var(--subhead-color);

}

.container {

    margin-top: 50px;

}

.home-text {

    background: var(--lighter-background);
        padding: 20px;
    border-radius: 4px;
}

.img-home {    
    border-radius: 4px;
}

.img-about {    
    border-radius: 4px;
}


.home-button {

    border: 1px solid var(--subhead-color);
    border-radius: 4px;
    padding: 5px 20px;
    background: var(--background-color);
   
}

.about-container {

    margin-top: 100px;
    background-color: var(--lighter-background);
    border-radius: 4px;
   
}

.about-col {
    padding: 0px;
}

.about-text {
    margin: 10px;
}

.about-button {

    padding: 15px 45px;
    border: none;
    background-color: var(--subhead-color);
    color: white;

}

.center {
    text-align: center;
}

@media(max-width: 767px) {

    img.img-home {
        display:none;
    }

    body {
        text-align: center;
    }


}